*{
    box-shadow: none;
    align-items: center;
    text-align: center;
    color: azure;
    
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to bottom right, rgba(16,16,126,255), rgba(123,30,61,255));
    background-repeat: no-repeat;
}

main{
    font-family: 'Permanent Marker', cursive;
}

.landing{
    min-height: 100vh;
    background: url(Space.jpeg);
    background-size: cover;
    padding: 0rem 5rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links li{
    padding-left: 1rem;
    font-size: 1.2rem;
    display: inline;
}

.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:768px){
   main{
    overflow-x: hidden;
    position: relative;
   }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgba(0, 0, 0, 0.527);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
   
    
   
}
.nav-active{
    transform: translateX(0%);
}

.toogle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toogle .line2{
    opacity: 0;
}
.toogle .line3{
    transform: rotate(-45deg) translate(-5px,-6px);
}

#logo{
    font-family: 'Permanent Marker', cursive;
    font-weight: lighter;
    font-size: 1rem;
}
.big-text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 5rem;
    font-family: 'Permanent Marker', cursive;
}

.into{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.slider{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    transform: translateY(100%);
}

.into-text{
    color: blue;
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 2rem;
}

.hide{
    background: black;
    overflow: hidden;
}
.hide span{
    transform: translateY(100%);
    display: inline-block;
}

.intro{
    margin: 40px;
}
.intro h1{
    font-weight: bolder;
    font-size: 6vh;
    font-family: 'Permanent Marker', cursive;
    overflow: hidden; 
    margin: 20 auto;
    white-space: nowrap; 
    letter-spacing: .15em; 
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
#aboutMe{
    background-color: rgba(128, 128, 128, 0.527);
    margin: 20px;
}
#aboutMe{
    font-family: 'Permanent Marker', cursive;
    position: relative;
    align-items: center;
    justify-content: center; 
}

#aboutMe h1{
    overflow: hidden; 
    margin: 20 auto;
    white-space: nowrap; 
    letter-spacing: .15em; 
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    position: relative;
    
}
.samPic{
    margin: 20px;
    color: red;
}
#aboutMe img{
    height: 200px;
    margin: 20px;
    position: relative;
}
#aboutMe p{
    font-style: italic;
    font-family: 'Akaya Kanadaka', cursive;
    position: relative;
    width: auto;
    margin: 20px;
}
.collagePic{
    height: 100px;
}


#projects{
    background-color: rgba(128, 128, 128, 0.527);
    margin: 20px;
}
#projects h1{
    font-family: 'Permanent Marker', cursive;
    overflow: hidden; 
    margin: 20 auto;
    white-space: nowrap; 
    letter-spacing: .15em; 
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
#projects p{
    font-family: 'Akaya Kanadaka', cursive;
    font-style: italic;
    margin: 20px;
}
#projects h3{
    font-family: 'Akaya Kanadaka', cursive;
    margin: 20px;
}

.screenshots{
    width: 80%;
    margin: 0 20px;
}

#intrests{
    background-color: rgba(128, 128, 128, 0.527);
    margin: 20px;
}
#intrests h1{
    font-family: 'Permanent Marker', cursive;
    overflow: hidden; 
    margin: 20 auto;
    white-space: nowrap; 
    letter-spacing: .15em; 
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
#intrests p{
    font-family: 'Akaya Kanadaka', cursive;
    font-style: italic;
    margin: 20px;
}
#intrests img{
    width: 80%;
    margin: 0 20px;
}

.icon{
    width: 50px;
}
#contact h1{
    font-family: 'Permanent Marker', cursive;
    overflow: hidden; 
    margin: 20 auto;
    white-space: nowrap; 
    letter-spacing: .15em; 
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}