*{
    box-shadow: none;
    align-items: center;
    text-align: center;
    font-family: 'Akaya Kanadaka', cursive;
    color: azure;
    overflow-x: hidden;
    margin: 0;
}
body{
    background-image: linear-gradient(to bottom right, blue, black);
    background-repeat: no-repeat;
}
.intro h1{
    font-weight: bolder;
    font-size: 50px;
}
#aboutMe{
    background-color: rgba(128, 128, 128, 0.527);
    margin: 0 20px;
}
#aboutMe img{
    height: 200px;
    margin: 20px;
}

.projects{
    margin: 0;
}

.pokedexWebsite{
    width: 80vh;
    margin: 0;
}